.navigation-bar {
    height: 100px;
    background-color: #4275CE;
}

.navigation-bar-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .branding {
    margin-left: 24px;
    display: flex;
    align-items: center;
}
.navigation-bar .brand {
    color: white;
    text-decoration: none;
    
}

.navigation-bar .brand h1 {
    font-size: 46px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin-right: 24px;
}

.navbar-menu li a {
    font-size: 16px;
    text-decoration: none;
    color: #B2CFFF;
}

.navbar-menu li a:hover {
    color: white;
}

.navbar-logo {
    margin-right: 12px;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-image: url(./logo-icon.svg);
    background-size: 100%;
}

.submit-poll-button {
    font-size: 16px;
    color: white;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 2px;
    width: 128px;
    height: 48px;
}

.submit-poll-button:hover {
    background-color: white;
    color: #333;
}

.burger-menu {
    display: none;
}

.burger-menu div {
    margin: 6px 24px 0 0;
    background-color: white;
    width: 25px;
    height: 3px;
}
.active {
    display: flex !important;
}

@media(max-width: 1200px) {
    .navigation-bar .navbar-logo {
        display: none;
    }
}

@media(max-width: 970px) {

    .navigation-bar {
        height: 100%;
    }
    .navigation-bar .navigation-bar-inner {
        position: relative;
        height: 100px;
    }
    .navigation-bar .navbar-logo {
        display: none;
    }

    .navigation-bar .navbar-menu-wrapper {
        width: 100%;
    }
    .navbar-menu {
        box-sizing: border-box;
        position: absolute;
        top: 70px;
        width: 100%;
        display: none;
        z-index: 9;
        padding: 24px;
        background-color: #4275CE;
        flex-direction: column;
    }

    .navigation-bar .navbar-menu li:first-child {
        display: none;
    }

    .navigation-bar .navbar-menu li {
        margin: 24px 0 0 0;
    }

    

    .burger-menu {
        display: block;
    }

    
}